* {
  padding: 0;
  margin: 0;
  font-family: 'poppins', sans-serif;
}


.trackDiv{
  width: 100%;
  height: fit-content;
  background: #a9a9a9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.music{
  width: 90%;
  max-width: 900px;
  padding: 30px;
  box-shadow: 0 0 20px rgba(red, 0, 0, 0.4);
  background: #fff;
  color: #555;
  border-radius: 8px;
    border: 1px solid black;
}

.track{
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.track img{
  width: 70px;
  margin-right: 30px;
  cursor: pointer;
}

.track div{
  flex: 1;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nextFmHeader {
  text-align: center;
}
.login,
.signup {
  margin-left: auto;
  display: flex;
}

ul::after {
  content: "";
  display: table;
  clear: both;
}

li:not(.login):not(.signup) {
  float: left;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #4caf50;
}

.nextFmHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nextFmLogo {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.newArtistsHeader {
  text-align: center;
}

.hotArtistsHeader {
  text-align: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.artists{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.hotArtists{
  display: flex;
  flex-direction: column;
}

.newArtists{
  display: flex;
  flex-direction: column;
}